@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

p {
    font-family: 'Ruluko', helvetica, arial, sans-serif;
    line-height: 1.25rem;
} 

h1 {
    text-align: center;
    margin: 5%;
    color: #C2E6E5;
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    font-size: 1.75rem;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9ddde;
}

.wing ring {
    padding: 0;
}

.logo {
    width: 8.5rem;
    height: auto;
    float: left;
    margin: 1.5rem 5%
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: #aee0ea;
    text-align: center;
    font-family: 'Ruluko', helvetica, arial, sans-serif;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 1rem 5%;
}

hr {
    margin: 5%;
}

figure {
    margin: 0 auto 1rem;
    width: 100%;
}

footer {
    margin-top: 3rem;
    padding: 1rem 5% 5rem;
    background-color: #aee0ea;
}

.nav-bottom {
    color: black;
    font-size: .75rem;
    line-height: 1.5rem;
}

hr {
    color: #c2e6e5;
}

.store {
    margin: 2rem;
    padding: 0;
    width: 80%;
}

.braceletheader {
    padding: 5rem, 0%;
}
    
.anderson {
    width: 40%;
    border-radius: 5rem;
    margin: 0;
    padding: 1rem 5%;
    
}

.learner {
    width: 40%;
    border-radius: 5rem;
    margin: 0;
    padding: 1rem 5%;;
}

.blacke {
    width: 40%;
    border-radius: 5rem;
    margin: 0;
    padding: 1rem 5%;
}

.andersonp {
    position: absolute;
    left: 35%;
    top: 35rem;
}

.andersonname {
    position: absolute;
    left: 35%;
    top: 33.5rem;
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792;
}

.blackep {
    position: absolute;
    left: 35%;
    top: 46.5rem;
    margin: 5%, 0;
}

.blackename{
    position: absolute;
    left: 35%;
    top: 45rem;
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792;
}

.learnerp {
    position: absolute;
    left: 35%;
    top: 58rem;
}

.learnername{
    position: absolute;
    left: 35%;
    top: 56.5rem;
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792;
}

.products1 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.products2 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.products3 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.products4 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.products5 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.products6 {
    font-family: 'Playfair Display SC', georgia, times, serif;
    font-weight: bold;
    color: #b07792; 
}

.n1 {
    width: 30%;
    
}

.n2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 20.4rem;
}

.n3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 20.4rem;
}

.b1 {
    width: 30%;
}

.b2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 30.9rem;
}

.b3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 30.9rem;
}

.c1 {
    width: 30%;
}

.c2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 41.4rem;
}

.c3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 41.4rem;
}

.r1 {
    width: 30%;
}

.r2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 51.9rem;
}

.r3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 51.9rem;
}

.e1 {
    width: 30%;
}

.e2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 62.4rem;
}

.e3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 62.4rem;
}

.br1 {
    width: 30%;
}

.br2 {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 72.9rem;
}

.br3 {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 72.9rem;
}